 .main-content {
      margin-left: 16rem;
      padding: 70px 2rem 2rem;
    }
    .center{
      text-align: center;
    }

        .mobile-container { display: flex; flex-direction: column; height: 100%; }
    .mobile-main-content { flex-grow: 1; padding: 0 1rem 6rem; }
