<div class="container-fluid ">
    <div class="row">
        <div class="col-md-12">
            <div class="flex-container">

                <div class="table-data__tool-right">
                    <button class="au-btn au-btn-icon au-btn--green au-btn--small"
                        (click)="navigateurl('teacher/new-notification')">
                        <i class="zmdi zmdi-plus"></i>new notification</button>

                </div>
                <h3 class="title-5 m-b-35">data table</h3>
            </div>
            <app-tables *ngIf=" model.length > 0" [data]="model" [columns]="displayedColumns"
                (buttonClick)="handleButtonClick($event)">
