
            <div class="container-fluid ">
                <div class="row">
                    <div class="card" style="width: 18rem;"  *ngFor="let item of data_url">
                        <div class="img">
<img src="../../../assets/images/join-class.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{item.Title}}</h5>
                            <p class="card-text">Your Class Is running join now.
                             </p>
                            <a class="btn btn-primary" (click)="navigate(item.id)">Join Live</a>
                        </div>
                    </div>
                </div>
            </div>
