 <div class="overlay" (click)="menuService.closeSearch()">
      <div class="search-panel" (click)="$event.stopPropagation()">
        <div class="search-bar">
          <div class="search-icon" [innerHTML]="getSafeHtml(menuService.getIconSvg('search'))"></div>
          <input type="text" placeholder="Search for anything..." class="search-input" autofocus>
        </div>
        <button class="close-button" (click)="menuService.closeSearch()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>