<div class="container-fluid ">


    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>Upload a new video</h4>
            </div>
            <div class="card-body">
                <p class="text-muted m-b-15">Click here top Upload a new video</p>

                <ul class="list-inline">
                    <li>
                        <div class="center">
                            <button (click)="navigateurl('/teacher/notes-add')"
                                style="text-align: center;color: #551A8B;">Click Here</button>
                        </div>

                    </li>

                </ul>

            </div>
        </div>


    </div>
    <div>
        <h1 class="" style="text-align: center;"> {{meassage}}</h1>
    </div>
    <div *ngIf="isloading" class="loading-container">
  <mat-spinner></mat-spinner>
  <p>Loading data...</p>
</div>

<app-tables
  *ngIf="!isloading && model.length > 0"
  [data]="model"
  [columns]="displayedColumns"
  (buttonClick)="handleButtonClick($event)"
  >
</app-tables>

<p *ngIf="!isloading && !model.length" class="no-data">No data available</p>

</div>