<header class="mobile-header">
      <div class="header-logo" (click)="ProfileService.toggleDesktopPanel()"></div>
      <div class="header-title"> CUDEMO-415 </div>
      <button class="notification" (click)="$event.preventDefault(); menuService.toggleDesktopPanel()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" /></svg>
        <span class="notification-badge">{{notificationService.unreadCount()}}</span>
      </button>
    </header>
    <aside class="bottom-nav-container">
        <a (click)="$event.preventDefault(); menuService.openSearch()"
           class="nav-button search-button"
           [class.active]="menuService.showSearchOverlay()">
            <div class="icon-wrapper" >
                <div class="image-wrapper" [innerHTML]="getSafeHtml(menuService.getIconSvg('search'))">

                </div>
            </div>
        </a>

        <nav class="nav-pill">
            <ul class="menu-list">
                @for (item of menuService.pillNavItems(); track item.name) {
                    <li>
                        <a (click)="$event.preventDefault(); onNavItemClick(item)"
                           class="nav-button pill-item"
                           [class.active]="menuService.activeItem() === item.name">
                            <div class="icon-wrapper" >
                                <div class="image-wrapper"[innerHTML]="getSafeHtml(item.icon)">

                                </div>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </aside>