
                <div class="container-fluid " *ngFor=" let data of data">

                    <h1 class="center">{{data.title}}</h1>
                    <div class="details">
                        <p class="left"><b>Chapter Name: </b>{{data.ChapterName}}</p>
                        <p class="left"><b>Chapter No: </b>{{data.chapterno}}</p>
                        <p class="left"><b>Date: </b>{{data.date}}</p>
                        <p class="left"><b>Subject: </b>{{data.subject}}</p>
                    </div>
                    <div class="text" id="datass" [innerHTML]="data.notes">

                    </div>

                </div>
                <div class="container-fluid " *ngFor=" let data of pdf">

                    <h1 class="center">{{data.title}}</h1>
                    <div class="details">
                        <p class="left"><b>Chapter Name: </b>{{data.ChapterName}}</p>
                        <p class="left"><b>Chapter No: </b>{{data.chapterno}}</p>
                        <p class="left"><b>Date: </b>{{data.date}}</p>
                        <p class="left"><b>Subject: </b>{{data.subject}}</p>
                    </div>
                    <app-pdf-viewer [url]="data.url"></app-pdf-viewer>
                </div>
