/* ----- Normalize ----- */
.loader2 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.8;
    z-index: 99;
}

/* ::-webkit-scrollbar {width: 1px;}::-webkit-scrollbar:hover {display: block;}::-webkit-scrollbar-thumb:hover {display: contents;width: 10px;background: #555;} */
body {
    background-color: #e5e5e5;
}





html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
a{
    text-decoration: none;
}
.cdk-overlay-pane{
        background-color: #e2e2e2;

    
    }
    .mat-mdc-raised-button.custom-action-button {
  background-color: attr(data-bg color, #3f51b5) !important;
  color: attr(data-fg color, #fff) !important;
}
html,
body,
.app-wrapper {
  position: relative;
  z-index: 0 !important;
  overflow-x: hidden;
}
